<div class="repository-group">
  <div class="repository-group__avatar">
    <img src="{{repositoryItem?.owner.avatar_url}}" alt="avatar">
  </div>
  <div class="repository-group__info">
    <ul>
      <li class="repository-line">
        <span>Name</span>
        <b>{{repositoryItem?.name}}</b>
      </li>
      <li class="repository-line">
        <span>Clone URL</span>
        <b>{{repositoryItem?.clone_url}}</b>
      </li>
      <li class="repository-line">
        <span>Description</span>
        <b>{{repositoryItem?.description}}</b>
      </li>
      <li class="repository-line">
        <span>SSH URL</span>
        <b>{{repositoryItem?.ssh_url}}</b>
      </li>
      <li class="repository-line">
        <span>SIZE</span>
        <b>{{repositoryItem?.size}}</b>
      </li>
    </ul>
  </div>
</div>


